{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="../static/css/modificar.css">

<sectio>
    <div class="hero-body">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 order-md-1">
                    <div class="card">
                        <h2 class="card-header">Vista Prenda</h2>
                        <form name="sent" action="{{ url_for('main.modificar', id=producto.id) }}" id="from1"
                            method="POST" enctype="multipart/form-data">
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="id">ID de la prenda:</label>
                                    <input class="form-control" value="{{producto.id}}" name="txtId" type="text"
                                        placeholder="" readonly>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="nombre">Nombre del producto:</label>
                                    <input placeholder="Nombre" name="nombre" value="{{producto.nombre}}" type="text"
                                        class="form-control" required="">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="modelo">Modelo:</label>
                                    <input type="text" class="form-control" id="modelo" name="modelo"
                                        value="{{producto.modelo}}" required>
                                </div>
                            </div>


                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="descripcion">Descripción:</label>
                                    <textarea class="form-control" id="descripcion" name="descripcion"
                                        rows="3">{{producto.descripcion}}</textarea>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="talla">Talla:</label>
                                    <input type="text" class="form-control" id="talla" name="talla"
                                        value="{{producto.talla}}" readonly>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="color">Color:</label>
                                    <input type="text" class="form-control" id="color" name="color"
                                        value="{{producto.color}}" required>
                                </div>
                            </div>
                            <div class="form-row">

                                <div class="form-group col-md-6">
                                    <label for="precio">Precio:</label>
                                    <input type="number" class="form-control" id="precio" name="precio"
                                        value="{{producto.precio}}" step="0.01" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="precio">Stock en Existencia:</label>
                                <select class="form-control" id="stock_existencia" name="stock_existencia" required>
                                    <option value="">Seleccionar stock</option>
                                    <option value="10" {% if producto.stock_existencia == 10 %} selected {% endif %}>10</option>
                                    <option value="15" {% if producto.stock_existencia == 15 %} selected {% endif %}>15</option>
                                    <option value="20" {% if producto.stock_existencia == 20 %} selected {% endif %}>20</option>
                                    <option value="25" {% if producto.stock_existencia == 25 %} selected {% endif %}>25</option>
                                    <option value="30" {% if producto.stock_existencia == 30 %} selected {% endif %}>30</option>
                                </select>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="imagen">Imagen:</label><br>
                                <img src="{{ url_for('static', filename='img/' + producto.imagen) }}" alt="Imagen"
                                    width="150px" height="150px"><br>
                                <input type="file" class="" id="imagen" name="imagen" value="{{producto.imagen}}">
                            </div>
                            
                            <div class="form-group text-center">
                                <button class="btn btn-success mr-2" name="modificar">Modificar</button>
                                <a href="{{ url_for('main.principalAd') }}" class="btn btn-warning"><i
                                        class="icon-action-undo"></i>Cancelar</a>
                            </div>
                    
                    </div>
                </div>
                <div class="col-md-4 order-md-2">
                    <div class="form-check-group">
                        <label for="materiales" class="form__label">Materiales utilizados:</label>
                        <br>
                        {% for material in materiales %}
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="form-check d-flex align-items-center">
                                    <input class="form-check-input" type="checkbox" id="material_{{ material.id }}" name="materiales" value="{{ material.id }}" class="form__field" {% if material.id in cantidades %}checked{% endif %}>
                                    <label class="form-check-label" for="material_{{ material.id }}">{{ material.nombre }}</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form__group">
                                    <input type="number" class="form__field" id="cantidad_{{ material.id }}" name="cantidad_usada[]" placeholder="Cantidad" step="0.5" min="0" value="{% if material.id in cantidades %}{{ cantidades[material.id] }}{% endif %}">
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    
                </div>
            </form>
            </div>
        </div>
    </div>

</section>
{% endblock %}